*{
  box-sizing: border-box;
}
body {

  background-color: rgb(100, 87, 96);
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  
}
::placeholder{
  text-align: center;
}
.back{background-color: rgb(17, 18, 17);;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  align-content: center;
}
.h2{
  margin-top: 110px;
  color: purple;
  font-size: 50px;
}
.navImage {
  width:100px ;
  margin: 0 ;
  padding: 0;
  top: 0;
  margin-top: 90px;
  margin-bottom: 20px;
  display: block;
  border-bottom-right-radius:50px;
  
  
  
  
}
.preview{
  background-color: blueviolet;
  width: 100px;
  
}
.favB{

  
  background-color: rgb(157, 153, 153)
}

.main{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 50px;
  gap: 15px;
  flex-shrink: 10px;
  
  

}

.previewD{
  background-color: rgb(199, 194, 198);
  padding: 10px ;
  width: 200px;
  border: 2px solid;
  border-radius: 5px; 
  height: 400px;
  
   

}
.previewD:hover{
  cursor: pointer;
  box-shadow: 3px 5px ;
  opacity: .7;
  
}
.iconBar{
  background-color: rgb(226, 226, 233);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.bigpre{
  display: flex;
  flex-direction: row;
  
  
  
}
.previewD1{
  margin-top: 100px;
  width: 60%;
}
.navD{
  background-color: rgb(17, 18, 17);
  margin-bottom: 50px;
  width: 100%;
  position: absolute;
  height: 80px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  
}
.Bhome:hover {
  filter: drop-shadow(0 0 2em #2b2b2faa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.Bhome{
border: none;
}
.Bsearch{
border: none;
border-radius: 6px;
background-color:  rgb(226, 226, 233);

}
.Bsearch:hover{
  filter: drop-shadow(0 0 2em #2b2b2faa);
  cursor: pointer;
  box-shadow: 3px 5px ;
  

}
.search{
  
 background-color: rgb(170, 170, 175);
  width:100%;
  background-color:  rgb(226, 226, 233)

}
.inputNav{
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color:   rgb(226, 226, 233);
}
.home{
  width: 100%;
  display: flex;
  margin: 30px;
}
.episode{
  background-color: rgb(97, 82, 111);
}
.episode2{
  background-color: rgb(97, 82, 111);
}
.episode1{
  background-color:rgb(97, 82, 111)
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width : 450px) {
  .previewD{
    width:100%
  }
}

.card {
  padding: 2em;
  color: aqua;
}

.read-the-docs {
  color: #888;
}
